<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">

    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <section>
            <img src="https://png.pngtree.com/background/20210715/original/pngtree-blue-technology-hexagon-white-gradient-simple-background-picture-image_1299245.jpg" width="1600" height="400">
        </section>

        <section class="nosotros">
            <h2 class="text-center my-5"> 
                Quienes Somos
            </h2>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Bienvenidos a Tec +, tu destino en línea para la última tecnología en Costa Rica. 
                            Somos mucho más que una simple tienda virtual; somos apasionados por acercarte a 
                            las maravillas de la innovación. Nuestra misión es ofrecerte una selección cuidadosamente 
                            curada de dispositivos electrónicos de vanguardia, accesorios inteligentes y gadgets emocionantes.</p>
                        <p>En Tec +, entendemos que la tecnología está en constante evolución, y estamos aquí para mantenerte 
                            al tanto de las tendencias más actuales. Nuestro equipo de expertos está comprometido en 
                            proporcionarte productos de la más alta calidad que mejorarán tu vida digital y cotidiana. Además, 
                            nos enorgullece brindar un servicio al cliente excepcional, guiándote en tu viaje tecnológico y 
                            respondiendo a tus preguntas en cada paso del camino.</p>
                        <p>Ya sea que estés buscando la última generación de smartphones, dispositivos para el hogar inteligente
                            o soluciones creativas para tus necesidades tecnológicas, en Tec + encontrarás una gama diversa de 
                            opciones que se adaptarán a tu estilo de vida. Únete a nosotros mientras exploramos juntos este 
                            emocionante mundo de posibilidades tecnológicas. ¡Bienvenido a la familia Tec +!</p>
                    </div>
                    <div class="col-md-6">
                        <image src="https://w0.peakpx.com/wallpaper/575/922/HD-wallpaper-technology-circuit.jpg">
                    </div>
                </div>
            </div>
        </section>

        <section class="mejoresproductos">
            <h2 class="text-center my-5"> 
                Nuestros productos mas vendidos
            </h2>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://aurora.a.bigcontent.io/v1/static/P60-pro_03" width="1750" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="https://m.media-amazon.com/images/I/81b1vgAABmL.jpg" width="1750" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="https://www.mtec-ec.com/wp-content/uploads/2020/10/1000x1000-MON00004.jpg" width="1750" height="500">
                    </div>
                </div>
            </div>
        </section>
        
        <section class="enfoque">
            <h2 class="text-center my-5"> 
                Que queremos en Tec +
            </h2>
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <p>En el núcleo de Tec + reside el firme propósito de liderar el mercado de la tecnología en Costa Rica 
                            a través de una experiencia de compra en línea única. Nuestro compromiso es proporcionar un espacio virtual 
                            donde la innovación, la calidad y la satisfacción del cliente convergen en perfecta armonía.</p>
                        <p>Nos esforzamos por ser más que una tienda; somos un punto de acceso a lo último en avances tecnológicos. 
                            Nuestra visión es ofrecer a los consumidores una amplia variedad de productos de alta calidad que se ajusten 
                            a sus necesidades y deseos individuales. Desde smartphones de última generación hasta accesorios que c
                            omplementan su estilo de vida digital, cada producto en Tec + es cuidadosamente seleccionado para cumplir 
                            con estándares rigurosos de rendimiento y durabilidad.</p>
                        <p>La innovación es nuestro motor impulsor. Nos mantenemos en sintonía con las tendencias tecnológicas más recientes 
                            para llevar a nuestros clientes lo más avanzado en el mundo digital. Ya sea que busques mejorar tu productividad 
                            con dispositivos inteligentes para el hogar, experimentar la emoción de la realidad virtual o potenciar tu creatividad 
                            con gadgets sorprendentes, en Tec + encontrarás una gama diversa de opciones que se alinean con las expectativas modernas.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Nuestros objetivos clave incluyen:</p>
                        <p>1.Variedad y Calidad: Ofrecer una amplia gama de productos tecnológicos de calidad superior, desde smartphones hasta 
                            dispositivos para el hogar inteligente, garantizando opciones para todos.</p>
                        <p>2.Innovación Constante: Mantenernos actualizados con las últimas tendencias tecnológicas y presentar de forma 
                            continua productos que transformen y mejoren la vida digital y diaria de nuestros clientes.</p>
                        <p>3.Experiencia de Usuario Destacada: Proporcionar una plataforma de compra en línea intuitiva y amigable, 
                            acompañada de descripciones detalladas, imágenes de alta resolución y un servicio de atención al cliente excepcional.</p>
                        <p>4.Asesoramiento y Soporte: Ofrecer orientación experta a los clientes para ayudarles a tomar decisiones informadas 
                            sobre sus compras tecnológicas y brindar soporte postventa para garantizar su plena satisfacción.</p>
                        <p>5.Conexión Tecnológica: Crear una comunidad en línea donde los entusiastas de la tecnología puedan compartir sus vivencias, 
                            conocimientos y opiniones sobre los productos, fomentando la interacción y la colaboración.</p>
                    </div>
                </div>
            </div>
        </section>

        <section th:replace="~{carrito/fragmentos :: listadoProductos}"></section>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
